data
file_001.csv
.ipynb_checkpoints/2110ACDS_T7_starter_notebook-checkpoint.ipynb
.ipynb_checkpoints/2110ACDS_T7_starter_notebook-checkpoint.ipynb
.ipynb_checkpoints/2110ACDS_T7_starter_notebook-checkpoint.ipynb
.ipynb_checkpoints/starter-notebook-checkpoint.ipynb
.ipynb_checkpoints/Test-checkpoint.ipynb
